<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>YetAnotherSite | {% block title %}{% endblock %}</title>
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <!-- Bootstrap -->
    <link href="{{ STATIC_PREFIX }}yet_another_site/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ STATIC_PREFIX }}yet_another_site/css/main.css" rel="stylesheet">
    {% block link %}
    {% endblock link %}
    {% block head_script %}
    {% endblock head_script %}
  </head>
  <body>
      {% include "yet_another_site/header.html" %}
      <div class="wrapper container-fluid">
      {% block content %}
      {% endblock content %}
      </div>
      {% include "yet_another_site/footer.html" %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_PREFIX }}yet_another_site/js/bootstrap.min.js"></script>
    {% block script %}
    {% endblock script %}
  </body>
</html>